/* * {
	margin: 10px;
	padding: 0;
	font-family: Lucida;
	box-sizing: border-box;
	
} */

body {
	background: #222;
	background-image: url('johannes-plenio-E-Zuyev2XWo-unsplash.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0;
	font-family: Open;
	
}

.container {
	width: 100%;
	max-width: 500px;
	background: #000000d0;
	color: white;;
	margin: 1em;
	padding: 2em;
	text-align: center;
	border-radius: 15px ;
}

.search {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 3rem;
}

.search input {
	background: rgba(255, 255, 255, 0.58);
	color: white;
	padding: 5px 10px;
	height: 50px;;
	border-radius: 15px;
	flex:1;
	margin-right: 10px;
	border: none;
	outline: none;
	font-family: Open;
	font-size: 20px;
}

.search button {
	background: rgba(255, 255, 255, 0.58);;
	padding: 5px 10px;
	height: 50px;;
	border-radius: 50px;
	border: none;
	width: 50px;
	cursor: pointer;
}

.search button img {
	width: 25px;

}

.icon {
	height: 300px;
	margin-top: 0;
	margin-bottom: 0%;
	padding: 0;
}

.city {
	margin-top: -60px;
	color: rgba(255, 255, 255, 0.58);
}

.temperatureHigh {
	margin-top: 50px;
	color: rgba(255, 0, 0, 0.633)
}

.temperatureLow {
	color: rgba(0, 0, 255, 0.509);
}

.temperatureCurrent {
	color: rgba(0, 128, 0, 0.75);
}

.weather h1 {
	font-size: 65px;
	margin-top: 15px;
	font-family: Lucida;
}

.weather h2 {
	font-size: 50px;
	font-family:Lucida;
	font-weight: 600;
}

.details {
	display: flex;
	align-items: center;;
	justify-content: space-around;
	margin-top: 15px;
}

.col {
	display: flex;
	align-items: center;
	text-align: left;
}

.col img {
	width: 40px;
	margin-right: 10px;
}

.humidity, .windSpeed {
	font-size: 30px;
	color:rgba(255, 255, 255, 0.58);
}

.feelsLike {
	font-size: 30px;
	color: rgba(255, 255, 255, 0.58);
}

.currentDay, .currentYear {
	color:rgba(255, 255, 255, 0.58);
}

.weather {
	display: none;
}

.error {
font-size: 20px;
display: none;

}
